@charset "utf-8";

$font-normal: 'Noto Sans KR', sans-serif;
$font-eng: 'Roboto', sans-serif;

$color-normal: #2fa8e1;
$color-point: #ffe047;
$color-black: #121212;
$color-white: #fff;

$minpc-size: 1480px;
$mobile-size: 680px;
$tablet-size: 1025px;